.row{
  width: 90%;
  margin: 30px auto;
  display: grid;
}

.gallerypic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column{
  position:relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_4{
  visibility: hidden;
  position: absolute;
}

.column:hover .text_4{
  font-size: 50px;
  color: white;
  visibility: visible;
  z-index: 999999;
}

.column:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  transition: all 0.5s;
}

.column:hover:after {
  opacity: 1;
}

@media (min-width: 600px){
  .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .row{
    max-width: 5472px;
    grid-template-columns: repeat(3, 1fr);
  }
}