.row-1{
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 1em;
  margin-top: 30px;
  margin-bottom: 50px;
}

.column-1{
  border-style: inset;
  width: 100%;
  height: 100%;
}

.gallerypic-1{
  width: 100%;
  height: 100%;
}

@media (min-width: 600px){
  .row-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (min-width: 992px) {
  .row-1{
    grid-template-columns: repeat(4, 1fr);
  }
}